:root {
  --primary-color-red: #FF2D2D;
  --secondary-color-red: #FF3F40;
  --primary-color-grey: #F6F2F2;
  --secondary-color-grey: #E0E0E0;
  --primary-color-dark: #2D2D2D;
  --primary-color-black: #000000;
  --primary-color-white: #FFFFFF;
}

.section__heading {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 700;
  color:  var(--primary-color-black);
}

.section__text {
  font-size: 16px;
  line-height: 28px;
  color:  var(--primary-color-black);
}

.line {
  width: 134px;
  border: 3px solid var(--primary-color-red);
}

/*Page*/

.page {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.page__content {
  flex-grow: 1;
}

.page__header-grey {
  background-color: var(--primary-color-grey);
}

.section {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.blok__heading {
  font-size: 30px;
  line-height: 0px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: var(--primary-color-black);
}

.action-button {
  box-sizing: border-box;
  padding: 16px 60px;
  border: 2px solid var(--primary-color-red);
  border-radius: 3px;
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-color-red);
  cursor: pointer;
}

.action-button__red {
  background-color: var(--primary-color-red);
  color: var(--primary-color-white);
}

/*Responsive*/

@media screen and (max-width: 1268px) {

  .page__content {
    max-width: 100%;
  }

  .section {
    max-width: 100%;
    width: 90vw;
    align-items: center;
  }
}

@media screen and (max-width: 1125px) {

  .section {
    width: 90vw;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {

  .section {
    width: 100%;
    padding: 0;
  }

  .section__heading {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 700;
    color:  var(--primary-color-black);
  }

  .section__text {
    font-size: 14px;
    line-height: 28px;
    color:  var(--primary-color-black);
  }

  .action-button {
    font-size: 14px;
  }
}



