.page__header {
  margin: 0 auto;
  width: 100%;
  min-height: 88px;
}

.header {
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
  min-height: 88px;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000000;
}

.navigation {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation__list-item {
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.navigation__list-link {
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: #E0E0E0;
}

.navigation__list-item:hover {
  background-color: #FF3F40;
}

.burger {
  display: none;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.burger__line {
  position: relative;
  display: block;
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background-color: #ffff;
}

.burger__line::before {
  content: ' ';
  position: absolute;
  display: block;
  top: -10px;
  width: 50px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffff;
}

.burger__line::after {
  content: ' ';
  position: absolute;
  display: block;
  top: 10px;
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background-color: #ffff;
}

/*Responsive*/

@media screen and (max-width: 1248px) {

  .header {
    width: 100%;
  }
}

@media screen and (max-width: 640px) and (min-width: 430px) {

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    display: none;
  }

  .navigation {
    display: none;
  }
}

@media screen and (max-width: 430px) and (min-width: 320px) {

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }

  .header {
    display: none;
  }

  .navigation {
    display: none;
  }

  .burger__line {
    width: 40px;
  }

  .burger__line::before {
    width: 40px;
  }

  .burger__line::after {
    width: 40px;
  }
}