.page__intro {
  width: 100%;
}

.intro {
  padding: 200px 0;
}

.intro__containt {
  max-width: 618px;
}

.intro__heading {
  margin: 0;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--primary-color-black);
}

.intro__text {
  margin: 36px 0 70px 0;
  max-width: 544px;
}

.action-button__intro {
  background-color: var(--primary-color-red);
  color: var(--primary-color-white);
}

.red-cube {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__video {
  width: 552px;
  height: 336px;
}

/*Responsive*/

@media screen and (max-width: 1268px) {
  .page__intro {
    width: 100%;
  }

  .intro {
    padding: 100px 0;
    margin: 0 auto;
  }

  .intro__containt {
    width: 90vw;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .intro__text {
    max-width: 100%;
  }

  .red-cube {
    display: block;
    margin: 0 auto;
  }

  .intro__video {
    margin-top: 10vh;
  }
}


@media screen and (max-width: 640px) {

  .intro {
    padding: 50px 0;
  }

  .intro__heading {
    font-size: 3em;
    line-height: 1em;
  }

  .red-cube {
    width: 90vw;
    display: flex;
  }

  .intro__video {
    max-width: 100%;
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 524px) and (min-width: 430px) {

  .intro {
    padding: 50px 0;
  }

  .intro__heading {
    font-size: 2.5em;
    line-height: 1em;
  }
}

@media screen and (max-width: 431px) and (min-width: 320px) {

  .intro {
    padding: 30px 0;
  }

  .intro__heading {
    font-size: 1.8em;
    line-height: 1em;
  }

  .red-cube {
    width: 100%;
  }
}