.page {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.page__header-grey {
    background-color: #F6F2F2;
}

.section {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.section__heading {
    font-family: 'OpenSans', sans-serif;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.blok__heading {
    font-family: 'OpenSans', sans-serif;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #000000;
}

.section__text {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.line {
    max-width: 134px;
    border: 3px solid #FF2D2D;
}

/*Header*/

.page__header {
    margin: 0 auto;
    width: 100%;
    min-height: 88px;
}

.header {
    margin: 0 auto;
    max-width: 1248px;
    width: 100%;
    min-height: 88px;
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000000;
}

.navigation {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation__list-item {
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.navigation__list-link {
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: #E0E0E0;
}

.navigation__list-item:hover {
    background-color: #FF3F40;
}


/*Main*/

.page__content {
    flex-grow: 1;
}

/*Intro*/

.page__intro {
    width: 100%;
    padding: 100px 0 120px 0;
}

.intro {
    padding: 100px 0;
}

.intro__containt {
    position: relative;
    max-width: 618px;
}

.intro__heading {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000000;
}

.intro__text {
    margin: 36px 0 70px 0;
    max-width: 544px;
}

.action-button {
    width: 228px;
    height: 54px;
    border: 2px solid #FF2D2D;
    border-radius: 3px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    color: #FF2D2D;
}

.action-button__red {
    background-color: #FF2D2D;
    color: #FFFFFF;
}

.intro-img {
    width: 552px;
    height: auto;
}

.red-cube {
    width: 552px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2D2D;
}

.pink-cube {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    opacity: 0.8;
}